.sidebar {
    transition: all 0.4s ;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: aliceblue;
    padding: 6px;
}

.sidebar a:hover {
    background-color: #495057;
}

.col {
    gap: 4px;
}
#grafico {
    width: 500px;
}
@media (max-width: 995px) /*768px*/ {
    
    .sidebar {
        position: fixed;
        transform: translateX(-100%);
        z-index: 1;
    }

    .sidebar.show {
        transform: translateX(0);
    }

}
